.panel-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
    min-width: 300px;
    max-width: 300px;

}

.panel-item:hover {
    background-color: var(--primary-hover-color-dark);
}

.panel-item .pad {
    width: 8px;
    height: 54px;
    background-color: transparent;
    margin-right: var(--spacing-large);
    border-radius: 0px var(--border-radius-large) var(--border-radius-large) 0px;
    transition: 0.3s linear;

}

.panel-item .label {
    color: var(--text-color-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-medium);
    gap: var(--spacing-small);
}

.panel-item .icon {
    font-size: var(--font-size-large);
}

.panel-item.selected {
    background-color: var(--tertiary-background-color);
}

.panel-item.selected .pad {
    background-color: var(--primary-color);
}

.panel-item.selected .icon {
    color: var(--primary-color);
}

@media (max-width: 960px) {

    .panel-item {
        align-items: center;
        justify-content: center;
        width: auto;
        flex-direction: column;
        min-width: 250px;

    }

    .panel-item .pad {
        display: none;
    }

    .panel-item .label {
        flex-direction: column;
    }

    .panel-item.selected .label {
        color: var(--primary-color);
    }

}