.panel-navbar {
    width: auto;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    margin: var(--spacing-large);
    border-radius: var(--border-radius-large);
    padding: 64px 0px;
}

.panel-navbar h1 {
    color: white;
    text-align: center;
    margin-bottom: calc(var(--spacing-large) * 2);
    font-weight: bold;
    font-size: var(--font-size-large);
}

@media (max-width: 960px) {
    .panel-navbar {
        flex-direction: row;
        justify-content: space-around;
        height: 54px;
        margin: 0px;
        border-radius: 0px 0px 0px 0px;
        padding: var(--spacing-medium);
        width: 100%;

    }

    .panel-navbar h1 {
        display: none;
    }
}